*.sql
!2024_05_04_00_world_arena_4v4.sql
!2024_07_05_00_world_starfire_walk.sql
!2024_07_05_01_world_starfire_snare_talent.sql
!2024_07_05_02_world_party_damage_redirect.sql
!2024_07_12_00_world_gurubashi_hourly_chest.sql
!2026_03_10_00_world_reserved_name_chromi.sql
